.trendBg{
    background-color: rgb(247,269,249);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin-top: 12px;
}
.trend{
    font-size: 20px;
    font-weight: bold;
    padding: 12px 8;
}
.trend h3{
    margin-bottom: 12px;
    padding: 8 16px;
}
.notrend{
    font-size:15px;
    font-weight: bold;
    padding: 12 16px;
}